.automator-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.automator {
  flex: 0 1 120px;
  margin: .5rem;
  border: 2px solid white;
  padding: 0 .5rem .25em;
  background-color: rgba(255,255,255,.05);
}

.automator h2 {
  margin-bottom: 0;
  margin-top: 1rem;
}
.automator h5 {
  margin: .25rem 0 1rem;
  height: 1rem;
  color: lightblue;
}

.automator-failed {
  border-color: red;
  background-color: rgba(255,0,0,.05);
}

.automator button,
.automator .status,
.automator progress {
  display: block;
  width: 100%;
  margin: .25rem 0;
}

.automator button {
  font-size: .95rem;
  padding: .1rem .7rem;
  text-transform: uppercase;
  border: none;
  background-color: white;
  color: darkslategray;
  text-decoration: none;
  outline: none;
  transition: all 50ms ease-in-out;
}

.automator button[disabled] {
  pointer-events: none;
  color: gray;
  opacity: .5;
}

.automator button:hover,
.automator button:active {
  background-color: deepskyblue;
  color: white;
}

.automator button:active {
  transform: scale(.95);
}

/*
.automator progress:not([value]),
.automator progress[value="0"] {
  visibility: hidden;
}
*/

.automator .status {
  height: 3.2rem;
  width: 2.6rem;
  margin: 1rem auto 0;
  color: white;
  font-size: .9rem;
}

.automator .status-icon {
  display: block;
  font-size: 2rem;
  text-shadow: 0 0 4px rgba(255,255,255,.3);
  line-height: 2rem;
}

.automator .status-building.status-icon {
  animation: statusBuilding infinite 400ms linear;
  transform-origin: 90% 90%;
}

.automator .status-dead.status-icon {
  animation: statusDead infinite 200ms linear;
  transform-origin: center center;
}

@keyframes statusBuilding {
  from {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(15deg);
  }
}

@keyframes statusDead {
  from {
    transform: translate(2px, 1px);
  }
  20% {
    transform: translate(-2px, 1px);
  }
  50% {
    transform: translate(1px, -3px);
  }
  to {
    transform: translate(-2px, 1px);
  }
}