.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  transform-origin: center 12vmin;
  font-size: 20vmin;
  width: 20vmin;
  height: 20vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  letter-spacing: -0.04em;
}

.App-link {
  color: deepskyblue;
}

h1, h2, h3, h4, h5 {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
